/* me */
.me {
    position: absolute;
    background: url(../../img/me.png) no-repeat;
    background-position: -374px 0px;
    background-size: 448px 150px;
    width: 110px;
    height: 150px;
    bottom: 58px;
    left: 15vw;
    opacity: 0;
    z-index: 0;
  }
  .me.showDown {
      animation: run 0.3s infinite;
  }
  .me.showUp {
      transform: scaleX(-1);
      animation: run 0.3s infinite;
  }
  .me.on {
    opacity: 1;
  }

  .down_me {
    position: fixed;
    background: url(../../img/me.png) no-repeat;
    background-position: -374px 0px;
    background-size: 448px 150px;
    width: 110px;
    height: 150px;
    bottom: 58px;
    left: 15vw;
    opacity: 0;
    z-index: 0;
  }
  .down_me.on {
    opacity: 1;
  }
  @keyframes run {
      0% {
          background-position: 0px 0px;
      }
      24.09% {
          background-position: 0px 0px;   
      }
      25% {
          background-position: -123px 0px ;
      }
      49.09% {
          background-position: -123px 0px;
      }
      50% {
          background-position: -247px 0px;
      }
      74.09% {
          background-position: -247px 0px;
      }
      75% {
          background-position: -0px 0px;
      }
      99.09% {
          background-position: -0px 0px;
      }
      100% {
          background-position: -0px 0px;
      }
      
  }