@charset "utf-8";

  
  .item.empty {
    height: 90%;
  }
  .item.empty2 {
    height: 90%;
    width: 100vw;
  }
  
  .mushroom1 {
    position: absolute; 
    bottom: 59px;
    right: 50px;
    width: 100px;
    height: 90px;
    background: url(../../img/mushroom.png) no-repeat center;
    background-size: cover;
    animation: bounce2 1s infinite;
  }
  .mushroom1.change {
    opacity: 0;
  }
  
  .coin1 {
    position: absolute; 
    bottom: 59px;
    right: 50px;
    width: 100px;
    height: 90px;
    background: url(../../img/coin.png) no-repeat center;
    background-size: cover;
    opacity: 0;
  }
  .coin1.change {
    opacity: 1;
    animation: coin 0.6s ;
  }
  
  /* 2 */

  .mushroom2 {
    position: absolute; 
    bottom: 59px;
    right: 50px;
    width: 100px;
    height: 90px;
    background: url(../../img/mushroom.png) no-repeat center;
    background-size: cover;
    animation: bounce2 1s infinite;
  }
  .mushroom2.change {
    opacity: 0;
  }
  
  .coin2 {
    position: absolute; 
    bottom: 59px;
    right: 50px;
    width: 100px;
    height: 90px;
    background: url(../../img/coin.png) no-repeat center;
    background-size: cover;
    opacity: 0;
  }
  .coin2.change {
    opacity: 1;
    animation: coin 0.6s ;
  }

  /*3  */

  .mushroom3 {
    position: absolute; 
    bottom: 59px;
    right: 50px;
    width: 100px;
    height: 90px;
    background: url(../../img/mushroom.png) no-repeat center;
    background-size: cover;
    animation: bounce2 1s infinite;
  }
  .mushroom3.change {
    opacity: 0;
  }
  
  .coin3 {
    position: absolute; 
    bottom: 59px;
    right: 50px;
    width: 100px;
    height: 90px;
    background: url(../../img/coin.png) no-repeat center;
    background-size: cover;
    opacity: 0;
  }
  .coin3.change {
    opacity: 1;
    animation: coin 0.6s ;
  }
  
  
  @keyframes bounce2 {
    0% {
      bottom: 59px;
    }
    50% {
      bottom: 70px;
    }
    100% {
      bottom: 59px;
    }
  }
  
  @keyframes coin {
    0% {
      transform: rotateY(0deg);
    }
    70% {
      opacity: 1;
      bottom: 200px;
      transform: rotateY(360deg);
    }
    100% {
      bottom: 200px;
      opacity: 0;
    }
  }
  
  .item.site {
    margin-top: 5vh;
  }
  .site_box1 {
    background-color: #ffffffab ;
    padding: 1px 4vw;
    margin: 0 auto;
    width: 45vw;
    opacity: 0;
    transition: all 1s ease-in;
  }
  .site_box1.show {
    opacity: 1;
  }
/* 2 */
  .site_box2 {
    background-color: #ffffffab ;
    padding: 1px 4vw;
    margin: 0 auto;
    width: 45vw;
    opacity: 0;
    transition: all 1s ease-in;
  }
  .site_box2.show {
    opacity: 1;
  }
/* 3 */
  .site_box3 {
    background-color: #ffffffab ;
    padding: 1px 4vw;
    margin: 0 auto;
    width: 45vw;
    opacity: 0;
    transition: all 1s ease-in;
  }
  .site_box3.show {
    opacity: 1;
  }
  .site_img img {
    border-radius: 15px;
    
  }
  .site_desc {
    padding: 10px;
  }
  .site_desc ul {
    display: flex;
    justify-content: space-between;
  }
  .site_desc li {
    width: 50%;
  }
  .item.site li h2 {
    font-family: 'Galmuri_bold';
    width: 100%;
    margin: 0.2vw 0;
    text-align: left;
    font-size: 18px;
  }
  .item.site li p {
    font-family: '';
    font-size: 14px;
    line-height: 1.2;
    width: 100%;
    padding: 0;
  }
  .site_desc2 li{
    width: 100%;
  }
  .item.SiteCoding {
    text-transform: uppercase;
  }
  .siteintro {
    margin-top: 12vh;
    text-align: center;
  }
  .site_intro {
    width: 500px; 
    margin-right: 200px;
    position: relative;
  }
  .heart {
    position: absolute; 
    top: -4vw;
    width: 5vw;
    height: 4.5vw;
    left: 45%;
    background: url(../../img/heart.png) no-repeat center;
    background-size: cover;
    animation: rotateY 1s infinite;
  }
  .siteintro span {
    position: relative;
    display: inline-block;
    animation: bounce .3s ease infinite alternate;
    font-size: 9.5vw;
    color: #FFF;
    text-shadow: 0 1px 0 #CCC,
                 0 2px 0 #CCC,
                 0 3px 0 #CCC,
                 0 4px 0 #CCC,
                 0 5px 0 #CCC,
                 0 6px 0 transparent,
                 0 7px 0 transparent,
                 0 8px 0 transparent,
                 0 9px 0 transparent,
                 0 10px 10px rgba(0, 0, 0, .4);
  }
  
  .siteintro span:nth-child(2) { animation-delay: .1s; }
  .siteintro span:nth-child(3) { animation-delay: .2s; }
  .siteintro span:nth-child(4) { animation-delay: .3s; }
  .siteintro span:nth-child(5) { animation-delay: .4s; }
  .siteintro span:nth-child(6) { animation-delay: .5s; }
  .siteintro span:nth-child(7) { animation-delay: .6s; }
  .siteintro span:nth-child(8) { animation-delay: .7s; }
  
  @keyframes bounce {
    100% {
      top: -20px;
      text-shadow: 0 1px 0 #CCC,
                   0 2px 0 #CCC,
                   0 3px 0 #CCC,
                   0 4px 0 #CCC,
                   0 5px 0 #CCC,
                   0 6px 0 #CCC,
                   0 7px 0 #CCC,
                   0 8px 0 #CCC,
                   0 9px 0 #CCC,
    }
  }
  
  
  @keyframes rotateY {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
  
  
  @media (max-width: 1250px){
    .siteintro {margin-top: 8vw;}
    .siteintro span {font-size: 9vw; }
  }
  @media (max-width: 750px){
    .siteintro span {font-size: 100px; }
    .heart {top: -8vw; width: 9vw; height: 8vw;}
  }
  

  /* moveBg */
    .mountainA {
        position: absolute;
        width: 288px; height: 123px;
        background: url(../../img/mountainA.png) no-repeat center;
        bottom: 59px;
        left: -50vw
    }
    .mountainB {
        position: absolute;
        width: 192px; height: 76px;
        background: url(../../img/mountainB.png) no-repeat center;
        bottom: 59px;
        left: -38vw
    }
    .item.d {
      z-index: 10;
    }
    .pipe {
      position: absolute;
      width: 546px;
      height: 672px;
      background: url(../../img/pipeA.png) no-repeat center;
      background-size: 508px 672px;
      top: 192px;
      left: 50vw;
    }

    @media (max-width: 1280px) {
      .pipe {
        left: 70vw;
      }
    }
    @media (max-width: 900px) {
      .pipe {
        left: 170vw;
      }
    }
    @media (max-width: 750px) {
      .pipe {
        left: 300vw;
      }
    }
    

  
  